body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

input[type="text"], button {
    font-size: 16px;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
}

input[type="text"] {
    width: 300px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

button {
    cursor: pointer;
    background-color: #5cb85c;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #449d44;
}

ol {
    list-style: none;
    padding: 0;
}

ol li {
    background-color: #fff;
    margin: 5px 0;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ol li button {
    background-color: #d9534f;
    margin: 0 5px;
}

ol li button:hover {
    background-color: #c9302c;
}

ol li:last-child {
    margin-bottom: 0;
}
